body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #eb4949;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
  }
  
  form label {
    width: 48%;
    margin-bottom: 5px;
  }
  
  form input[type="text"],
  form input[type="date"],
  form input[type="number"] {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  form select {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .form-actions {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  #donation-message {
    text-align: center;
    margin-top: 20px;
  }
  .heading
  {
    color:whitesmoke;
    font-size: larger;
  }
  .s{
    background-color: #ccc;
    width: 800px;
    margin-left:30% ;
    border-radius: 200px 200px 200px 200px;
  }