body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#a11313;
  }
  
  .signup-container {
    background-color: rgb(233, 228, 228);
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 600px;
  }
  
  .signup-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .signup-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .signup-container input[type="text"],
  .signup-container input[type="email"],
  .signup-container input[type="tel"],
  .signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .signup-options {
    margin-top: 20px;
  }
  
  .signup-options a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  